@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  src: url('/assets/fonts/SourceCodePro/SourceCodePro.ttf') format('truetype');
}

:root {
  font-family: "Source Code Pro", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* disable text selection */
*,
*::after,
*::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}

h1 {
  margin-left: 0.5em;
  text-align: left;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  outline: none;
}

input {
  cursor: text;
}

button {
  cursor: pointer;
}

button:hover {
  will-change: filter;
  transition: 0.5s;
  filter: drop-shadow(0 0 1em #ffffff);
}

button:active {
  transition: 0.1s;
  background-color: #e8e8e8;
}


select#device {
  font-size: 1em;
  font-family: inherit;
  padding: 0.5em 1em;
  border-radius: 8px;
  margin-right: 1em;
}

#greet-input {
  margin-right: 5px;
}

/* channel settings */
table#channel-list {
  max-width: 50em;
  min-width: 700px;
  margin: 0em 1em;
  text-align: center;
  border-spacing: 2em 0em;
  table-layout: fixed;
}

table#channel-list td {
  width: 16%;
  padding: 0.8em;
  cursor: pointer;
  background-color: #222;
  border-radius: 10px;
  will-change: filter;
  transition: 0.75s;
}

table#channel-list td:hover {
  filter: drop-shadow(0 0 1em #ffe21c);
}

/* dark theme support */
@media (prefers-color-scheme: dark) {
  :root {
    color: #ddd;
    background-color: #2f2f2f;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }

  button:hover {
    filter: drop-shadow(0 0 1em #0f0f0f98);
  }

  button:active {
    background-color: #0f0f0f50;
  }

  select {
    border: 1px solid #666;
    background: #555;
    color: #f6f6f6;
  }
}
